header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 3rem;
  height: 6rem;
  background-color:var(--lgy-gray-200);
  > .toggle-sidebar-btn{
    font-size: 2rem;
    @media(min-width: 820px) {
      display: block;
    }
  }
  > p {
    font-size: 1rem;
    font-weight: 100;

    @media(min-width: 672px) {
      font-size: 1.5rem;
    }
  }
}


