<nav
  class="sidebar"
  [ngClass]="{ 'sidebar--hidden': hiddenSidebar }"
>
  <app-logo width="15rem"></app-logo>

  <ng-container *ngFor="let item of menu">
    <ul class="sidebar-menu">
      <li class="sidebar-menu__item">
        <div routerLinkActive="active">
          <a [routerLink]="item.path">
            <span class="icon-{{ item.icon }}"></span>
            {{ item.title | translate | titlecase }}
          </a>
        </div>
      </li>
    </ul>
  </ng-container>

  <footer>
    <a [routerLink]="">
      <span class="icon-exit"></span>
      {{ "logout" | translate  | titlecase}}
    </a>
  </footer>

</nav>
