.modal-images {

  background-color: white;
  border-radius: 0.5rem;
  left: 50%;
  margin: auto;
  max-width: 50rem;
  width: 95%;
  padding: 2rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1.2rem 0 rgb(34 34 46 / 30%);

  img{
    width: 100%;
  }

 ::ng-deep button{
    width: 100%;
  }

}
