.delivery-avaible{
  &__head{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    justify-content: space-between;
    &--no-guide{
      display: flex
    }
  }

  &__map{
    width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-bottom: 1rem;
  }

  &__address{
    display: flex;
    align-items: center;
    height: 1.3rem;

    margin-bottom: 0.5rem;
    >p{
      margin-left: 1rem;
    }
  }
}

