.delivery-detail{
  padding: 0.5rem;

  @media(min-width: 672px) {
    padding: 1rem 3rem;
  }

  &__header{
    padding-left: 0.5rem;
    margin: 2rem auto;
    @media(min-width: 672px) {
      padding-left: 20rem;
    }
  }
}
