@import './app/lib/styles/theme.scss';

@each $family in PoppinsBlack,
PoppinsBold,
PoppinsExtraBold,
PoppinsExtraLight,
PoppinsLight,
PoppinsMedium,
PoppinsRegular,
PoppinsSemiBold,
PoppinsThin {
  @font-face {
    font-family: #{$family};
    src: url('./assets/fonts/poppins/#{$family}.ttf') format('truetype'),
  }
}

$variable-prefix: lgy- !default;

:root {

  // Colors landing
  --color-primary: #210972;
  --color-primary-contrast: #ffffff;
  --color-secondary: #FA4238;
  --color-secondary-contrast: #FFFFFF;

  // Typografy
  --#{$variable-prefix}font-extra-light: PoppinsExtraLight;
  --#{$variable-prefix}font-light: PoppinsLight;
  --#{$variable-prefix}font-thin: PoppinsThin;
  --#{$variable-prefix}font-regular: PoppinsRegular;
  --#{$variable-prefix}font-medium: PoppinsMedium;
  --#{$variable-prefix}font-semi-bold: PoppinsSemiBold;
  --#{$variable-prefix}font-bold: PoppinsBold;
  --#{$variable-prefix}font-extra-bold: PoppinsExtraBold;
  --#{$variable-prefix}font-black: PoppinsBlack;

  //Colors
  --#{$variable-prefix}white: #fff;
  --#{$variable-prefix}gray-100: #ffffff;
  --#{$variable-prefix}gray-200: #F7F9FC;
  --#{$variable-prefix}gray-300: #EDF1F7;
  --#{$variable-prefix}gray-400: #E4E9F2;
  --#{$variable-prefix}gray-500: #b5bccc;
  --#{$variable-prefix}gray-600: #495057;
  --#{$variable-prefix}gray-700: #2E3A59;
  --#{$variable-prefix}gray-800: #222B45;
  --#{$variable-prefix}gray-900: #192038;
  --#{$variable-prefix}gray-1000: #151A30;
  --#{$variable-prefix}black: #101426;

  --#{$variable-prefix}gray-8: rgba(143, 155, 179, 0.08);
  --#{$variable-prefix}gray-16: rgba(143, 155, 179, 0.16);
  --#{$variable-prefix}gray-24: rgba(143, 155, 179, 0.24);
  --#{$variable-prefix}gray-32: rgba(143, 155, 179, 0.32);
  --#{$variable-prefix}gray-40: rgba(143, 155, 179, 0.4);
  --#{$variable-prefix}gray-48: rgba(143, 155, 179, 0.48);

  --#{$variable-prefix}blue-100: #CCCCFF;
  --#{$variable-prefix}blue-200: #9999FF;
  --#{$variable-prefix}blue-300: #6666FF;
  --#{$variable-prefix}blue-400: #3F3FFF;
  --#{$variable-prefix}blue-600: #0000DB;
  --#{$variable-prefix}blue-700: #0000B7;
  --#{$variable-prefix}blue-800: #000093;
  --#{$variable-prefix}blue-900: #00007A;

  --#{$variable-prefix}blue-8: rgba(0, 0, 255, 0.08);
  --#{$variable-prefix}blue-16: rgba(0, 0, 255, 0.16);
  --#{$variable-prefix}blue-24: rgba(0, 0, 255, 0.24);
  --#{$variable-prefix}blue-32: rgba(0, 0, 255, 0.32);
  --#{$variable-prefix}blue-40: rgba(0, 0, 255, 0.4);
  --#{$variable-prefix}blue-48: rgba(0, 0, 255, 0.48);

  --#{$variable-prefix}red-100: #FFE7D8;
  --#{$variable-prefix}red-200: #FFCAB2;
  --#{$variable-prefix}red-300: #FFA68B;
  --#{$variable-prefix}red-400: #FF846F;
  --#{$variable-prefix}red-500: #e74749;
  --#{$variable-prefix}red-600: #DB2E30;
  --#{$variable-prefix}red-700: #B71F2E;
  --#{$variable-prefix}red-800: #93142B;
  --#{$variable-prefix}red-900: #7A0C29;

  --#{$variable-prefix}red-8: rgba(255, 58, 58, 0.08);
  --#{$variable-prefix}red-16: rgba(255, 58, 58, 0.16);
  --#{$variable-prefix}red-24: rgba(255, 58, 58, 0.24);
  --#{$variable-prefix}red-32: rgba(255, 58, 58, 0.32);
  --#{$variable-prefix}red-40: rgba(255, 58, 58, 0.4);
  --#{$variable-prefix}red-48: rgba(255, 58, 58, 0.48);
}

