.delivery-tracking-line{

  &__content{
    display: flex;
    flex-direction: column;
    width: 100%;

    @media(min-width: 672px) {
      flex-direction: row;
    }

    &--date{

      margin-top:0;
      text-align: left;
      width: auto;
      margin-left: 3rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media(min-width: 672px) {
        flex-direction: column;
        align-items:flex-end;
        margin-left: 0.5rem;
      }

      p, h5{
        color: var(--lgy-gray-600);
        margin:0;
        padding: 0;
      }

      p{
        color: var(--lgy-gray-500);
        font-size: 1.1rem;
      }

      h5{
        font-size: 1.2rem;
        line-height: 2rem;
        margin-left: 1rem;
        @media(min-width: 672px) {
          margin-left: 0;
        }
      }

      @media(min-width: 672px) {
        margin-top: 1.8rem;
        margin-left: 0;
        text-align: right;
      }

    }
  }

  &__item{
    display: flex;
    position: relative;
    margin-left: 0;
    width: 100%;

    @media(min-width: 672px) {
      margin-left: 6rem;
    }

      &::after {
        background: #dadee4;
        content: "";
        height: 100%;
        left: 0.8rem;
        position: absolute;
        top: 2rem;
        width: 0.2rem;
        z-index: 1;
        @media(min-width: 672px) {
          left: 1.8rem;
          width: 0.3rem;
        }

    }

    &--icon{

      margin-top: 0;
      z-index: 2;

      @media(min-width: 672px) {
        margin-top: 1.5rem;
      }

      > div{
        font-size:0.8rem;
        align-items: center;
        box-sizing: border-box;
        background-color: var(--lgy-red-500);
        border:0.4rem solid var(--lgy-red-400);
        color: var(--color-primary-contrast);
        width: 2rem;
        height: 2rem;
        padding: 0 0.5rem;
        border-radius: 100%;
        vertical-align: middle;
        display: inline-flex;
        justify-content: center;

        @media(min-width: 672px) {
          width: 4rem;
          height: 4rem;
          font-size:1.4rem;
        }


      }
    }

    &--date{
        position: absolute;
    }

    &--status{
      color:var(--color-primary);
      font-weight: 600;
      font-size: 1.4rem;
      text-transform: capitalize;
    }

    &--content{
      flex: 1 1 auto;
      padding: 0 0 0 0.5rem;

      @media(min-width: 672px) {
        padding: 0 0 0 4rem;
      }
    }

  }

  &:last-child{
    ::after{
      display: none;
      content: "";
    }
  }

}

.options{
  position: absolute;
  right: 2rem;
  top:2.5rem;

  @media(min-width: 672px) {
    right: 2rem;
    top:4rem;
  }
}
